
body{

	background-color: #E6E6E6;
	background-image: url("imagem escritorio.jpg");
	

}

h1{

	text-align: center;
	font-family: ubuntu;
}


form{

	text-align: center;
}

#campos{
 
    background-color: rgba(0,0,0,0.6);
    margin-left: 450px;
    margin-right: 450px;
    border: 1px;
    
    
}