h1{

	text-align: center;
	font-family: ubuntu;
}

p{

	text-align: center;
	font-family: ubuntu;

}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    font-family: ubuntu;
}

a:hover {
    background-color: fuchsia;
}

li {
    display: inline;
}

#menu{

	margin-left: 530px;

}

body{

	background-color: #E6E6E6;
	background-image: url("imagem escritorio.jpg");
}


div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 200px;
    margin: 10px;
}

#gallery{
font-family: ubuntu;
margin-left: 300px;

}